@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom .link class added to tailwind  */
@layer components {
    .link {
        @apply cursor-pointer hover:underline;
    }
    .button {
        @apply rounded-md bg-yellow-400 p-2 text-xs md:text-sm bg-gradient-to-b 
        from-yellow-200 to-yellow-400 active:from-yellow-500
    }
}
body p{
    margin-bottom: 0;
}
.popoverLink{
    position: relative;
}
.popoverLink .popoverlayout{
    position: absolute;
    width: 8rem;
    left: 50%;
    transform: translateX(-50%);
    top: 3.5rem;
    z-index: 40;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 0.5rem;
    opacity: 0;
    visibility: hidden;
}

.popoverLink:hover .popoverlayout{
    opacity: 1;
    visibility: visible;
}

.popoverLink .popoverlayout .popoverItem{
    width: 100%;
    display: flex;
    justify-content: center;
}
.popoverLink .popoverlayout .popoverItem button{
    width: 80%;
    color: black;
}
.popoverLink .popoverlayout .popoverItem button:hover{
    background-color: #eab308;
}
.popoverItem::before {
    position: absolute;
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);
    content: "";
    border: 1rem solid;
    border-color: transparent transparent aliceblue;
}